[Unit]
Description=Parental control daemon of Fritz!Box %I
Documentation=man:fritzident(8)
Requires=fritzident.socket

[Service]
ExecStart=/usr/sbin/fritzident -l /var/log/fritzident.log
StandardInput=socket

[Install]
WantedBy=multi-user.target
